* {
	box-sizing: border-box;
	margin: 0;	
	font-family: sans-serif;
	font-size: 1.025rem;
	line-height: 1.5;
}

.survey-header {
	text-align: center;
	margin: 2% auto;
	color: #445c3c;
}
.title {
	margin-bottom: 5px;
	font-family: 'Kaushan Script', cursive;
	font-size: 3em;
}

form {
	margin: 3% 16%;
	padding: 40px;
	background-color: #445c3c;
	border-radius: 10px;
	color: hsl(38, 80%, 95%);
}

#name, #email, #number, #dropdown, textarea {
	width: 100%;
	height: 35px;
	margin-top: 5px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 2px solid #445c3c;
}

.hours-question {
	margin-bottom: 5px;
}

.activities-question {
	margin-top: 20px;
	margin-bottom: 5px;
}

.comment {
	margin-top: 20px;
}
textarea {
	height: 10rem;
}
::placeholder {
	font-size: 1.015rem;
}

.submit {
	display: block;
	margin: 0 auto;
	border-radius: 5px;
	border: 2px solid #445c3c;
}